<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <script>
        function help(){
            document.getElementById('if').src = "/help";
        }
    </script>
</head>

<body>
<div class="half">
    <h2>Input text to process or to use as context <span class="help" onclick="help()">?</span></h2>
    <form target="if" method="post">
        <textarea required maxlength='{{cfg["inputmax"]}}' rows="4" name="data" placeholder="Type here..."></textarea>
            <br/>
        <b style="margin:auto; margin:40px">Select language model*:
        <input required type="text" name="model" value='{{cfg["models"][0]}}' placeholder="hugggingface model name" list="models-list"/></b>
            <br/>
        <section>
            <h3>Text perplexity visualisation
                <input type = "submit" name="pv" value="Visualize" formaction="/api"  style="float:right" />
            </h3>

            {% for x, y in cfg["inputs"]["visualisation"].items() %}
            <label>{{y["label"]}}</label>
            <input type="range" min='{{y["min"]}}' max='{{y["max"]}}' value='{{y["value"]}}' step='{{y["step"]}}'
                   class="slider" name="{{x}}" oninput="this.nextElementSibling.value = this.value">
            <output>{{y["value"]}}</output>
            <br/>
            {% endfor %}

        </section>

        <section>
            <h3>Generation (GPT-2 only)
                <input type = "submit" name="gen" value="Generate" formaction="/api"/>
            </h3>

            {% for x, y in cfg["inputs"]["generation"].items() %}
            <label>{{y["label"]}}</label>
            <input type="range" min='{{y["min"]}}' max='{{y["max"]}}' value='{{y["value"]}}' step='{{y["step"]}}'
                   class="slider" name="{{x}}" oninput="this.nextElementSibling.value = this.value">
            <output>{{y["value"]}}</output>
            <br/>
            {% endfor %}

            Select second model (for evaluation)*:
                <input type="text" name="alt"  placeholder="hugggingface model name" list="models-list"/>

        </section>

        <section>
             <input type = "submit" name="eval" value="Full Evaluation (Serbian only)" formaction="/api"/>
        </section>
    </form>
    <div>* Will download for local instance! Some models require additional preprocessing files!</div>
</div>

<iframe class="half" name="if" id="if" src="/help"></iframe>

<datalist id="models-list">
    {% for item in cfg["models"] %}
        <option value="{{item}}"></option>
    {% endfor %}
</datalist>

</body>
</html>